# Storage
BUCKET_NAME="your-bucket-name"

# IAM Roles
ROLE_NAME="iam-role-name"

# Databricks Unity Catalog Configuration
# Use the standard Databricks AWS commercial role here:
DATABRICKS_UC_ROLE_ARN="arn:aws:iam::414351767826:role/unity-catalog-prod-UCMasterRole-14S5ZJVKOTYTL"

# Leave this blank for now! You will get this in Step 3.
DATABRICKS_EXTERNAL_ID=""
